<div id="<%= dom_id kit %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Button:</strong>
    <%= kit.button_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Fabric:</strong>
    <%= kit.fabric_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lining:</strong>
    <%= kit.lining_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this kit", kit, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this kit', edit_kit_path(kit), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
