<%= turbo_frame_tag dom_id(kit), class: "flex mb-6" do %>
  <p class="flex-1">
    <%= kit.name %>
  </p>

  <p class="flex-1">
    <%= kit.fabric_id %>
  </p>

  <p class="flex-1">
    <%= kit.lining_id %>
  </p>

  <p class="flex-1">
    <%= kit.button_id %>
  </p>

  <p class="flex-1">
    <%= link_to "Edit", edit_kit_path(kit), class: "bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded" %>
  </p>
<% end %>
