<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl mb-4 text-red-600">Kits</h1>
  
  <%= turbo_stream_from "kits" %>
  <article class="flex" data-controller="sorting">
    <%= turbo_frame_tag "kits", class:"flex grow" do %>
      <section class="grow">
        <article class="flex max-w-md">
          <%= sort_link_to "Name", :name, class: "flex-1 font-semibold text-gray-600", data: { turbo_action: "advance", action: "turbo:click->sorting#saveSort" } %>
          <%= sort_link_to "Fabric", :fabric_id, class: "flex-1 font-semibold text-gray-600", data: { turbo_action: "advance", action: "turbo:click->sorting#saveSort" } %>
          <%= sort_link_to "Lining", :lining_id, class: "flex-1 font-semibold text-gray-600", data: { turbo_action: "advance", action: "turbo:click->sorting#saveSort" } %>
          <%= sort_link_to "Button", :button_id, class: "flex-1 font-semibold text-gray-600", data: { turbo_action: "advance", action: "turbo:click->sorting#saveSort" } %>
          <span class= "flex-1"></span>
        </article>
        
        <div class="flex flex-col max-w-md" id="kits_list">
          <%= render @kits %>
          <article class="my-4">
            <%== pagy_nav @pagy %>
          </article>
        </div>
      </section>
    <% end %>

    <section>
      <%= form_with url: "", method: :get, data: { controller: "search", turbo_frame: "kits", turbo_action: "advance" } do |form| %>
        <span class="mr-2 text-md font-medium text-gray-600">Show</span>
        <%= form.select :count, options_for_select([5, 25, 50, 100], selected: params[:count]), {}, 
          { class: "rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-2 pr-7 border-gray-200 bg-transparent text-gray-500 sm:text-sm rounded-md",
          onchange: "this.form.requestSubmit()" } %>
        <%= hidden_field_tag :direction, params[:direction], data: { "sorting-target": "direction" } %>
        <%= hidden_field_tag :sort, params[:sort], data: { "sorting-target": "sort" } %>

        <%# this is debounced via Stimulus %>
        <span class="ml-2 text-md font-medium text-gray-600">Search</span> <%= form.search_field :query, value: params[:query], 
          class: "shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2",
          data: { action: "input->search#searchKit" } %>
      <% end %>


        <%# Stimulus carousel %>
      <div class="py-8 text-base leading-7 space-y-6 text-gray-600" data-controller="slideshow" data-slideshow-index-value data-slideshow-hidden-class="hidden"> 
        <article class="flex">
          <button data-action="slideshow#previous" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"> ← </button>
          <button data-action="slideshow#next" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"> → </button>
        </article>
        <ul class="space-y-4">
          <li class="flex items-center" data-slideshow-target="slide">
            <svg class="w-6 h-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="11" />
              <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
            </svg>
            <p class="ml-4">
              Create and edit kits
            </p>
          </li>

          <li class="flex items-center hidden" data-slideshow-target="slide">
            <svg class="w-6 h-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="11" />
              <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
            </svg>
            <p class="ml-4">
              Sort, filter and search for kits
            </p>
          </li>

          <li class="flex items-center hidden" data-slideshow-target="slide">
            <svg class="w-6 h-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="11" />
              <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
            </svg>
            <p class="ml-4">Multi browser experience with websockets</p>
          </li>

          <li class="flex items-center hidden" data-slideshow-target="slide">
            <svg class="w-6 h-6 flex-none fill-sky-100 stroke-sky-500 stroke-2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="11" />
              <path d="m8 13 2.165 2.165a1 1 0 0 0 1.521-.126L16 9" fill="none" />
            </svg>
            <p class="ml-4">Lolz 🙊</p>
          </li>
      </div>

    </section>
  </article>

  <hr class="my-6">
  
  <section class="flex w-full" data-controller="select summary" data-select-url-value="<%= kit_options_kits_path %>">
    <article class="flex-1">
      <%= render "kits/form", kit: @kit, fabrics: @fabrics %>
    </article>

    <%= render "kit_preview" %>
  </section>
</div>
